services:
  db:
    image: postgres
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres

  adminer:
    image: adminer:latest
    restart: always
    ports:
      - "8080:8080"